bandit==1.7.5
cfgv==3.3.1
distlib==0.3.7
filelock==3.12.2
gitdb==4.0.10
GitPython==3.1.32
identify==2.5.26
markdown-it-py==3.0.0
mdurl==0.1.2
nodeenv==1.8.0
pbr==5.11.1
platformdirs==3.9.1
pre-commit==3.3.3
Pygments==2.15.1
PyYAML==6.0.1
rich==13.4.2
smmap==5.0.0
stevedore==5.1.0
virtualenv==20.24.1
